*{
    margin: 0;
    padding: 0;
}
.navigation{
    height: 74px;
background-color: aqua;
display: flex;
justify-content: space-between;
align-items: center;

}

.content{
    height: 94px;
    background-color: coral;

}

.footer{
    height: 50px;
background-color: blue;
}